.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
.animation-buttons {
  margin-bottom: 10px;
}
.controls p {
  margin-top: 0;
}
.speed-input p {
  margin: 0;
}
.input-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.slider {
  display: flex;
  align-items: center;
}
form {
  display: flex;
  align-items: center;
}
.button {
  height: 30px;
}
